:root {
  --color-yellow: #ffa300;
  --color-magenta: #cf0060;
  --color-pink: #ff00ff;
  --color-cian: #13a8fe;
  --color-dark: #000117;
  --color-gray: #29292b;
  --color-gray-lighter: #999;
  --color-white: #fff;
  --color-background: #e1e1e1;
  --color-green: #25d366;
}

html {
  box-sizing: border-box;
  font-family: 'Staatliches regular font', sans-serif;
  font-size: 16px;
  background-color: var(--color-background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

body {
  margin: 0;
}

img,
embed {
  width: 100%;
}

.text-center {
  text-align: center;
}

